body {
    background-color: #47444e;
}

canvas {
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}

#backgroundImage {
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.5;
}

#StudioLogo {
    right: 20px;
    bottom: 20px;
    z-index: 20;
    position: fixed;
}

#TitleLogo {
    right: 20px;
    bottom: 100px;
    z-index: 2;
    position: fixed;
}

.no-show {
    display: none;
}

#muteButton, #unmuteButton {
    position: fixed;
    top: 5px;
    right: 5px;
    font-size: 25px;
    padding: 5px;
    width: 85px;
    color: #6e6e91;
    background-color: #2d2d3f;
    cursor: pointer;
}
#muteButton {    
    z-index: 20;
}
#unmuteButton { 
    z-index: 15;
    opacity: 0.6;
}