body {
    background-color: #47444e;
}

canvas {
    position: fixed;
    top:0;
    left: 0;
    z-index: 10;
}

img {
    transform: translate(-50%,-50%);
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
}